<app-header></app-header>

<html>
<head>
	<title> IndianTourism </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
			         Explore the tourism places <br>
			<font size="5px"> Incredible India </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> To Travel is to live !</font> <br> <br>

					<font color="#000" size="5px"> Tourism is the biggest industry in the World! </font> <br> <br>

					India is famous for its temples and that is the reason that among the different kinds of tourism in India, pilgrimage tourism is increasing most rapidly. The various places for tourists to visit in India for pilgrimage are Vaishno Devi, Golden temple, Char Dham, and Mathura Vrindavan. <br><br>

					Travel and tourism is the largest service industry in India. It provides heritage, cultural, medical, business and sports tourism. <br><br>
<ul>
<li> Tourism activity starts with the attractions. At a place or destination there has to
	be some attraction only then people or tourists will visit that area.
<li>Accessibility or otherwise said as transportation is an essential component of
	tourism system as it creates linkage between market source and destination
<li>Accommodation is one of the most crucial aspects of a destination
<li>Every tourist travelling to a new destination desires for world class facilities and
	services.
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>